!=================================================

! Diretorio do experimnto
dirExperiment = .//Baseline//Rice

! Diretorio do DSSAT
dssatFile = .//bin//dscsm047

! Arquivo de cultivares
cultivarFile = .//Baseline//Rice//RICER047.CUL

!=================================================

! Diretorio de saida (saida de resultados finais)
outputDir = .//output

!=================================================

! Semente de geracao dos dados (motivos de reproducao)
! Coloque '0' para semente aleatoria
seed = 0

!=================================================

! Identificador do cultivar
cultivar = IB0010

! Identificador do modelo
model = RICER047

! Coeficientes de analise
! Variaveis problematicas = THRSH
! P1, P2R, P5, P2O, G1, G2, G3, G4, PHINT, G5
coefficients = P1, P2R, G5

! Variaveis de calibracao
! ADAP, MDAP, PD1P, PDFP, LAID, SWAD, GWAD, LWAD
calibration = ADAP, MDAP, PD1P

! Quanidade de interacoes
maxiter = 30

! Tamanho da populacao
popSize = 30

! Executar simulacao em paralelo (1 para sequencial)
simulationCores = 4

!=================================================
